<!DOCTYPE html>
<html>
<head>
  <title>Sweet Spot</title>
</head>
<body>
  <h1>Sweet Spot</h1>
<nav>
  <ul>
    <li>
      <a href="/">All Clubs</a>
    </li>
    <li>
      <a href="/manufacturers/index">All Manufacturers</a>
    </li>
    <li>
      <a href="/manufacturers/new">Add new Manufacturer</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
