<!DOCTYPE html>
<html>
<head>
  <title>Sweet Spot</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Sweet Spot Golf Store</h1>
<nav>
  <ul>
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/manufacturers/index">All Manufacturers</a>
    </li>
    <li>
      <a href="/clubs/index">All Clubs</a>
    </li>
    <li>
      <a href="/types/index">All Club Types</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
