<!DOCTYPE html>
<html>
<head>
  <title>Sweet Spot</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Sweet Sp<a class="o_color">o</a>t</h1>
<nav>
  <ul>
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
        <a href="/clubs/index">Clubs Inventory</a>
    </li>
    <li>
      <a href="/manufacturers/index">Manufacturers</a>
    </li>
    <li>
      <a href="/types/index">Club Types</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
