<!DOCTYPE html>
<html>
<head>
  <title>Sweet Spot</title>
</head>
<body>
  <h1>Sweet Spot Golf Store</h1>
<nav>
  <ul>
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/manufacturers/index">All Manufacturers</a>
    </li>
    <!-- <li>
      <a href="/manufacturers/new">Add new Manufacturer</a>
    </li> -->
    <li>
      <a href="/clubs/index">All Clubs</a>
    </li>
    <!-- <li>
      <a href="/clubs/new">Add new Club</a>
    </li> -->
  </ul>
</nav>
  <%= yield %>
</body>
</html>
