
<form method="post" action="/clubs/<%= @clubs.id %>/edit">


  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @clubs.quantity %>"
  />

  <input
  type="number"
  name="buy_price"
  id="buy_price-field"
  value="<%= @clubs.buy_price %>"
  />

  <input
  type="number"
  name="sell_price"
  id="sell_price-field"
  value="<%= @clubs.sell_price %>"
  />

  <input type="submit" value="Update Quantity">
</form>
