<h3>Add new Club's details</h3>

<form action="/clubs" method="post">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  value=""
  />

<label for="type-field">Type:</label>
  <input
  type="text"
  name="type"
  value=""
/>

<label>
  Manufacturer:
  <select name="manufacturer_id">
    <% for manufacturer in @manufacturers %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
</label>

<label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  value=""
/>

<label for="buy_price-field">Buy Price:</label>
  <input
  type="number"
  name="buy_price"
  value=""
/>

<label for="sell_price-field">Sell Price:</label>
<input
  type="number"
  name="sell_price"
  value=""
/>

<input type="submit" value="Add new">

</form>
