<form action="/clubs" method="post">
  <fieldset>
    <legend>Add New Club:</legend>

    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    value=""
    />
    <br><br>

    <label>
      Type:
      <select name="type_id">
        <% for type in @types %>
        <option value="<%= type.id %>"><%= type.name %></option>
        <% end %>
      </select>
    </label>
    <br><br>

    <label>
      Manufacturer:
      <select name="manufacturer_id">
        <% for manufacturer in @manufacturers %>
        <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
        <% end %>
      </select>
    </label>
    <br><br>

    <label for="quantity-field">Quantity:</label>
    <input
    type="number"
    name="quantity"
    value=""
    />
    <br><br>

    <label for="buy_price-field">Buy Price:</label>
    <input
    type="number"
    name="buy_price"
    value=""
    />
    <br><br>

    <label for="sell_price-field">Sell Price:</label>
    <input
    type="number"
    name="sell_price"
    value=""
    />
    <br><br>

    <input type="submit" value="Save" class="save_button">
  </fieldset>
</form>
