<p>Manufacturer: <%= @manufacturers.name %></p>

<form method="post" action="/manufacturers/<%= @manufacturers.id %>/delete">
  <input type="submit" value="Delete Manufacturer" class="delete_form">
</form>

<p>
<form method="post" action="/manufacturers/<%= @manufacturers.id %>/edit">
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @manufacturers.name %>"
  />
</p>

<input type='submit' value="Edit Manufacturer" class="update_form">
</form>
