<h2>Manufacturers</h2>

<li>
  <a href="/manufacturers/new">Add new Manufacturer</a>
</li>

<table>
  <tr>
    <th>Manufacturers Name</th>
    <th>Update/Delete</th>
  </tr>

<% for manufacturer in @manufacturers %>
<tr>
<td><%= manufacturer.name %> </td>
<td><a href="/manufacturers/<%= manufacturer.id %>">Click Here</a></td>
</tr>

<% end %>
</table>
