<h3>Add new Manufacturer's name</h3>

<p>
<form action="/manufacturers" method="post">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  value=""
  />
</p>

<input type="submit" value="Save" class="save_button">

</form>
