<p>Club Type: <%= @types.name %></p>

<form method="post" action="/types/<%= @types.id %>/delete">
  <input type="submit" value="Delete" class="delete_form">
</form>

<p>
<form method="post" action="/types/<%= @types.id %>/edit">
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @types.name %>"
  />
</p>

<input type='submit' value="Edit Club Type" class="update_form">
</form>
