<h3>Add new Club Type</h3>

<form action="/types" method="post">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  value=""
  />
  <input type="submit" value="Save">

</form>
