<form action="/types" method="post">
  <fieldset>
    <legend>Add New Club Type:</legend>

    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    value=""
    />
    <br><br>

    <input type="submit" value="Save" class="save_button">
  </fieldset>
</form>
